.svgicon {
    display: inline-flex;
    align-self: center;
    position: relative;
    height: 1em;
    width: 1em;
}
.svgicon svg, .svgicon img {
    height: 1em;
    width: 1em;
}
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*---------Other Button Style Stuff ----*/
/*--------------------------------------*/
button .svgicon {
  font-size: 18px;
}
button.btn-highlight, .button.btn-highlight, input[type="submit"].btn-highlight, input[type="reset"].btn-highlight, input[type="button"].btn-highlight {
    background-color: #1B78B3;
    color: #fff;
    border-color: #1B78B3;
}
button.btn-icon, .button.btn-icon {
    padding: 0;
}
button.btn-highlight .svgicon, .button.btn-highlight .svgicon, input[type="submit"].btn-highlight .svgicon, input[type="reset"].btn-highlight .svgicon, input[type="button"].btn-highlight .svgicon {
    fill: #fff;
}
button.btn-icon .svgicon, .button.btn-icon .svgicon {
    margin: 5px;
}
input, textarea, keygen, select, button {
    font-family: "Source Sans Pro", "SourceSansPro", Helvetica, sans-serif;
}
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    display: inline-flex;
    position: relative;
    height: 32px;
    padding: 0 16px;
    vertical-align: middle;
    color: #607580;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    box-sizing: border-box;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    -webkit-transition-property: background-color, color, opacity, border;
    transition-property: background-color, color, opacity, border;
}